* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    background-color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 1.5em;
    color: #333;
}
.main_log{
    padding-top: 200px;
    width: 20px;
}
#contact h2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #333;
}
#contact .form-control {
    border-radius: 10px;
}
#contact .btn {
    background-color: #00adb5;
    border: none;
    border-radius: 50px;
}
#contact .btn:hover {
    background-color: #007bff;
}
